@model IEnumerable<FilmPortal.Core.Entities.Movie>

<h1>Film Listesi</h1>

<a href="@Url.Action("Create", "Film")" class="btn btn-primary mb-3">Yeni Film Ekle</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Puan</th>
            <th>Yayın Tarihi</th>
            <th>Aksiyon</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.ImdbRating</td>
                <td>@film.ReleaseDate.ToString("dd/MM/yyyy")</td>
                <td>
                    <a href="@Url.Action("Details", "Film", new { id = film.Id })" class="btn btn-info">Detaylar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
